<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.climacool">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="CliMate"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClimaCool">
        <activity
            android:name=".lights"
            android:exported="false" />
        <activity
            android:name=".Ventilation"
            android:exported="false" />
        <activity
            android:name=".Monitoring"
            android:exported="false" />
        <activity
            android:name=".airconditioner"
            android:exported="false" />
        <activity
            android:name=".Heater"
            android:exported="false" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".Kitchen"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Office"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Livingroom"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bathroom"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BedroomActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>